In [1]:
import pandas as pd
students={"Name":["Anish","Janak","Ashim","Rehan"],
          "Marks":[40,50,60,70],
          "Status":["fail","pass","fail","pass"]}
result=pd.DataFrame(students,index=["stud1","stud2","stud3","stud4"])
print(result)

        Name  Marks Status
stud1  Anish     40   fail
stud2  Janak     50   pass
stud3  Ashim     60   fail
stud4  Rehan     70   pass

In [ ]:
print(result.loc["stud1"])

Name      Anish
Marks        40
Status     fail
Name: stud1, dtype: object

In [5]:
print(result.iloc[0])

Name      Anish
Marks        40
Status     fail
Name: stud1, dtype: object

In [9]:
result.values

array([['Anish', 40, 'fail'],
       ['Janak', 50, 'pass'],
       ['Ashim', 60, 'fail'],
       ['Rehan', 70, 'pass']], dtype=object)

In [10]:
result.index

Index(['stud1', 'stud2', 'stud3', 'stud4'], dtype='object')

In [21]:

result1=pd.Series([1,2,3,4,5,6])
result1

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [22]:
result1[0]

1

In [24]:
result1[0]=10
result1

0    10
1     2
2     3
3     4
4     5
5     6
dtype: int64

In [25]:
result[::2]

        Name  Marks Status
stud1  Anish     40   fail
stud3  Ashim     60   fail